
<div *ngIf="userMessageAccount">
    <h2><span>User Message Account</span> {{userMessageAccount.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Firstname</span></dt>
        <dd>
            <span>{{userMessageAccount.firstname}}</span>
        </dd>
        <dt><span>Lastname</span></dt>
        <dd>
            <span>{{userMessageAccount.lastname}}</span>
        </dd>
        <dt><span>Dob</span></dt>
        <dd>
            <span>{{userMessageAccount.dob | date:'mediumDate'}}</span>
        </dd>
        <dt><span>Username</span></dt>
        <dd>
            <span>{{userMessageAccount.username}}</span>
        </dd>
        <dt><span>Password</span></dt>
        <dd>
            <span>{{userMessageAccount.password}}</span>
        </dd>
        <dt><span>Access Level</span></dt>
        <dd>
            <span>{{userMessageAccount.accessLevel}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'user-message-account-my-suffix/'+ userMessageAccount.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
